body {
  font-family: 'Tahoma', sans-serif;
  color: #005e7b;
  background-color: rgba(203, 215, 222, 0.2);
}

.form {
  width: 100%;
}

table {
  width: 350px;
  height: 600px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 80px;
  height: 70px;
  text-align: center;
  font-size: 2.5em;
  background-color: #ff4c4c;
  color: #ececec;
  border: none;
}

.button:hover {
  transition: 300ms ease-in-out;
  cursor: pointer;
  background-color: #990099;
}

.reset {
  width: 120px;
  height: 70px;
  text-align: center;
  font-size: 2.5em;
  background-color: #9c9c9c;
  color: #ececec;
  border: none;
}

.reset:hover {
  cursor: pointer;
  background-color: #990099;
}

.textbox {
  width: 350px;
  font-size: 3em;
  padding-left: 20px;
  border: 1px solid transparent;
  background-color: #d8e1e6;
  border-bottom: 5px solid #ff3232;
}

.textbox:focus {
  border: 5px solid ##ff3232;
  border-bottom: 5px solid #ff3232;
}

.equal {
  width: 80px;
  height: 70px;
  text-align: center;
  font-size: 2.5em;
  background-color: #424242;
  color: #ececec;
  border: none;
}

.equal:hover {
  transition: 300ms ease-in-out;
  cursor: pointer;
  background-color: #990099;
}
